#ifndef SECRETS_H
#define SECRETS_H

// Copy this file to include/secrets.h and fill your private values.
#define WIFI_SSID "YOUR_WIFI_SSID"
#define WIFI_PASSWORD "YOUR_WIFI_PASSWORD"
#define MQTT_SERVER "192.168.100.187"
#define SAVE_TO_DB_URL "http://192.168.100.187:3000/sensor-data"
#define TOPIC "sensor/data"

#endif
